@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* Apply the new background and default text color */
    @apply bg-primary-bg text-text-primary;
  }
}

/* Custom Scrollbar Styles */

/* For Webkit browsers (Chrome, Safari, Edge) */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #1c0f33; /* ui-bg */
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #9c27b0; /* accent */
  border-radius: 8px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #af4fb9; /* A slightly lighter accent for hover */
}

/* Dark mode scrollbar is the same as light mode in this theme */
.dark .custom-scrollbar::-webkit-scrollbar-track {
  background: #1c0f33;
}
.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #9c27b0;
}
.dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #af4fb9;
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #9c27b0 #1c0f33; /* thumb color and track color */
}

/* Dark mode adjustments for Firefox scrollbar */
.dark .custom-scrollbar {
  scrollbar-color: #9c27b0 #1c0f33;
}